@mixin body 
{
    position: absolute;
    left: 5%;
    width: 100%;
    height: 100%;
}

@mixin caption_decorations
{
    .caption
    {
        margin: 10px;
        font-size: xx-large;
        font-style: normal;
        font-variant: small-caps;
        font-family: sans-serif;
        font-weight: 900;
        color: white;
        text-shadow: 3px 3px 5px rgb(100, 100, 130), -3px -3px 5px rgb(100,100,130), 3px -3px 5px rgb(100,100,130), -3px 3px 5px rgb(100,100,130);
    }
    .caption a:visited
    {
        color: white;
    }
    .caption a:link
    {
        color: white;
    }
    .caption a
    {
        text-decoration: none;
    }
    .title
    {
        text-align: left;
        font-size: 40px;
        text-shadow: 3px 3px 5px rgb(130, 100, 100), -3px -3px 5px rgb(130,100,100), 3px -3px 5px rgb(130,100,100), -3px 3px 5px rgb(130,100,100);
    }
}

@mixin posicion_pantalla
{
    .screen-centered
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        margin-top: -50px;
    }
    .screen-left-column
    {
        float: left;
        min-width: 290px;
        width: 25%;
        margin: 0px;
        height: 100%;
    }
    .screen-centered-lc /*centered with left column*/
    {
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        min-width: 1140px; /* 850 + 290 */
        height: 850px;
        margin-top: -425px;
    }
    .screen-main-container-lc /* centered with left column*/
    {
        display: inline-block;
        position: relative;
        height: 100%;
        width: 700px;
    }
    div.tiled
    {
        position: absolute;
        margin: 10px;
        margin-top: 100px;
        width: 270px;
        height: 160px;

        text-align: center;
    }
    .center
    {
        text-align: center;
    }
}

@mixin img9($rotateY, $rotateX, $rotateZ) 
{
    //9
    #tile_bberry
    {
        transition: 1000ms ease-out;
        transition-property: all;
        transform-style: preserve-3d;
        height: 270px; /* bad: chrome adds 4 stray pixels without this */
    }
    #tile_bberry.begin
    {
        left: 570px;
        top: 570px;
    }
    #tile_bberry.end
    {
        left: -280px;
        top: 10px;
        // transform: rotateY(180Deg) rotateX(360Deg) rotateZ(180Deg);
        transform: rotateY($rotateY) rotateX($rotateX) rotateZ($rotateZ);
    }
    #tile_bberry img
    {
        position: relative;
    }
}

@mixin animations 
{
    @include img9(180Deg,360Deg,180Deg);
    //8
    #tile_world
    {
        left: 290px;
        top: 570px;
        transform-origin: 0 100%;
    }
    #tile_world.begin
    {
        animation: skewanim2 1s cubic-bezier(0,0.5,0.3,1);
    }
    #tile_world.end
    {
        left: -280px;
        top: 10px;
        animation: skewanim 1s cubic-bezier(0,0.5,0.3,1);
    }

    @keyframes skewanim
    {
        from
        {
            left: 290px;
            top: 570px;
        }
        70%
        {
            left: -280px;
            top: 10px;
            transform: skew(10Deg, 0Deg);
        }
        to
        {
            left: -280px;
            top: 10px;
        }
    }

    @keyframes skewanim2
    {
        from
        {
            left: -280px;
            top: 10px;
        }
        70%
        {
            left: 290px;
            top: 570px;
            transform: skew(-10Deg, 0Deg);
        }
        to
        {
            left: 290px;
            top: 570px;
        }
    }

    //7
    #tile_computer
    {
        left: 10px;
        top: 570px;
    }
    #tile_computer.begin
    {
        animation: scaleanim2 1s;
    }
    #tile_computer.end
    {
        left: -280px;
        top: 10px;
        animation-name: scaleanim;
        animation-duration: 1s;
        animation-iteration-count: 1; /* 2, 3, ... infinite */
        animation-timing-function: default; /* ease-in, ease-out, ...*/
        animation-direction: normal; /* normal, alternate */
        /*animation-delay: */
    }
    @keyframes scaleanim
    {
        from
        {
            left: 10px;
            top: 570px;
        }
        50%
        {
            left: -280px;
            top: 10px;
            transform: scale(0.5);
        }
        to
        {
            left: -280px;
            top: 10px;
        }
    }

    @keyframes scaleanim2
    {
        from
        {
            left: -280px;
            top: 10px;
        }
        50%
        {
            left: 10px;
            top: 570px;
            transform: scale(0.5);
        }
        to
        {
            left: 10px;
            top: 570px;
        }
    }

    //6
    #tile_game
    {
        transition: 1000ms ease-out;
        transition-property: all;
        transform-origin: 0 0;
    }
    #tile_game.begin
    {
        left: 570px;
        top: 290px;
    }
    #tile_game.end
    {
        left: -280px;
        top: 10px;
        transform: rotate(360Deg);
    }

    //5
    #tile_phone
    {
        transition: 1000ms ease-out;
        transition-property: all;
    }
    #tile_phone.begin
    {
        left: 290px;
        top: 290px;
    }
    #tile_phone.end
    {
        left: -280px;
        top: 10px;
        transform: rotateX(360Deg);
    }

    //4
    #tile_usb
    {
        transition: 1000ms ease-out;
        transition-property: all;
    }
    #tile_usb.begin
    {
        left: 10px;
        top: 290px;
    }
    #tile_usb.end
    {
        left: -280px;
        top: 10px;
        transform: rotate(360Deg);
        
    }

    //3
    #tile_browser
    {
        transition: 1000ms ease-out;
        transition-property: all;
    }
    #tile_browser.begin
    {
        left: 570px;
        top: 10px;
        opacity: 1;
    }
    #tile_browser.end
    {
        left: -280px;
        top: 10px;
        opacity: 0.1;
    }

    //2
    #tile_console
    {
        transition: 1000ms cubic-bezier(0, 0.7, 1, 0.3);
        transition-property: all;
    }
    #tile_console.begin
    {
        left: 290px;
        top: 10px;
    }
    #tile_console.end
    {
        left: -280px;
        top: 10px;
    }

    //1
    #tile_user
    {
        transition: 500ms ease-out;
        transition-property: all;
    }
    #tile_user.begin
    {
        left: 10px;
        top: 10px;
    }
    #tile_user.end
    {
        left: -280px;
        top: 10px;
    }
}

@mixin demo1_style 
{
    .movable
    {
        position: absolute;
    }
    @include animations;
}

@mixin demo2_style 
{
    .stage
    {
        perspective: 1000px;
        perspective-origin: 50% 50%; /* this is the default*/
        transform-style: preserve-3d;
    }
    .stage2
    {
        transform-style: preserve-3d;
        position: absolute;
        width: 100%;
        height: 100%;
        transform:  translateZ(200px);
    }
    .cube
    {
        /*background-color: blue;*/
        position: relative;
        left: 0px;
        top: 0px;
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
        transform-style: preserve-3d;
        animation: rotate-cube 15s linear infinite;
    }
    .cubeface
    {
        position: absolute;
        transition: all 600ms;
        top: 15px;
        left: 15px;
    }
    @keyframes rotate-cube
    {
        from
        {
            transform: rotateZ(0Deg) rotateY(0Deg);
        }
        to
        {
            transform: rotateZ(1080Deg) rotateY(360Deg);
        }
    }
    #tile_bberry   { transform: translateZ(150px); }
    #tile_world    { transform: translateX(150px) rotateY(90Deg); }
    #tile_user     { transform: translateX(-150px) rotateY(-90Deg); }
    #tile_usb      { transform: translateZ(-150px); }
    #tile_computer { transform: translateY(150px) rotateX(90Deg); }
    #tile_game     { transform: translateY(-150px) rotateX(-90Deg); }

    :hover > #tile_bberry   { transform: translateZ(250px); }
    :hover > #tile_world    { transform: translateX(250px) rotateY(90Deg); }
    :hover > #tile_user     { transform: translateX(-250px) rotateY(-90Deg); }
    :hover > #tile_usb      { transform: translateZ(-250px); }
    :hover > #tile_computer { transform: translateY(250px) rotateX(90Deg); }
    :hover > #tile_game     { transform: translateY(-250px) rotateX(-90Deg); }
}

@mixin demo3_style 
{
    html, body
    {
        width: inherit;
        height: inherit;
    }
    .canvas
    {
        top:10px;
        left: 10px;
    }
    .movable
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #cap-click
    {
        left: 830px;
        top: 310px;
        opacity: 1;
    }
    #cap-ohno
    {
        left: 820px;
        top: 40px;
    }
    #cap-reload
    {
        left: 60px;
        top: 310px;
    }
    #cap-click, #cap-reload, #cap-ohno
    {
        z-index:-1;
    }
    #cap-click.end
    {
        opacity: 0;
    }
    #cap-title
    {
        margin-top: 50px;
        margin-left: 20px;

    }    
}