$black:#333333;
$pure_white:#ffffff;
$light:100;
$pure_white:#ffffff;
$regular:300;
$ultra_bold:900;
$marron:#614014;
$white:#fff;
$claron:#f29718;
$cafe:#48351A;
$blue:#235380;

//PRIMARY COLOR
$silver: rgb(211,211,211);

//COLORS
$black: #000;
$medium_blue: #336ca6;
$silver_light: rgb(188, 186, 186);

$letra:'Libre Baskerville', serif;
$source_titles: fantasy;