<body>
    <!-- captions -->
    <div class="caption title">CSS3 y 3D transformación</div>
    <div class="caption">HOVER over the cube!</div>
    <!-- tiles -->

    <div class="stage screen-centered">
        <div class="stage2">
        <div class="cube">
            <img class="cubeface" id="tile_bberry"   src="../../assets/images/tile_bberry.png" />
            <img class="cubeface" id="tile_world"    src="../../assets/images/tile_world.png" />
            <img class="cubeface" id="tile_user"     src="../../assets/images/tile_user.png" />
            <img class="cubeface" id="tile_usb"      src="../../assets/images/tile_usb.png" />
            <img class="cubeface" id="tile_computer" src="../../assets/images/tile_computer.png" />
            <img class="cubeface" id="tile_game"     src="../../assets/images/tile_game.png" />
        </div>
        </div>
    </div>
</body>